doctype html
html(lang="en")
  head
    include includes/default-head.pug
    meta(name="description", content=data.crate.description)
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.9.0/css/all.css", crossorigin="anonymous")
    link(rel="stylesheet", href="/bundle.css")
    script(type="module", src="/bundle.js")
    title #{data.crate.name} | Cratesinquire
  body
    header
    main#crate
      input#data(value=JSON.stringify(data), disabled, hidden)
      .main-container
        section.search-container
          .search-ribbon
            .lhs
              a.pass-href(href="/")
                .img-container
                  img(src="/favicon.svg", alt="logo")
              a.pass-href(href="/")
                .title
                  .a CRATES
                  .b INQUIRE
            .mid
              include includes/search-bar.pug
            .rhs
              a.banner.pass-href(rel="noreferrer", href="https://github.com/apskhem/cratesinquire", target="_blank")
                i.fab.fa-github
                span GITHUB REPO
        section.crate-header
          .lhs
            .header-title
              h1 #{data.crate.name}
            .header-version
              span #{data.crate.max_stable_version}
              if data.versions[0] && data.versions[0].published_by && !/^\s+$/.test(data.versions[0].published_by)
                span #{" • Published by "}
                a(rel="noreferrer", href=data.versions[0].published_by.url, target="_blank") #{data.versions[0].published_by.name}
            .header-links
              a(rel="noreferrer", href=`https://crates.io/crates/${data.crate.id}`, target="_blank")
                img(src="/img/crates-icon.png", alt="link-icon")
              if data.crate.documentation
                a(rel="noreferrer", href=data.crate.documentation, target="_blank")
                  img(src="/img/docs-icon.svg", alt="link-icon")
              if data.crate.repository
                a(rel="noreferrer", href=data.crate.repository, target="_blank")
                  img(src="/img/github-icon.svg", alt="link-icon")
              if data.crate.homepage
                a(rel="noreferrer", href=data.crate.homepage, target="_blank")
                  img(src="/img/homepage-icon.svg", alt="link-icon")
            .header-date Updated on #{new Date(data.crate.updated_at).toLocaleString("en", { year: "numeric", month: "long", day: "numeric" })}
            .header-date Created on #{new Date(data.crate.created_at).toLocaleString("en", { year: "numeric", month: "long", day: "numeric" })}
            .header-desc
              .header-icon-container
                i.fas.fa-info-circle
              div #{data.crate.description || "none"}
            .header-keywords
              .header-icon-container
                i.fas.fa-tags
              .header-keywords-row
                each keyword in data.crate.keywords
                  a(rel="noreferrer", href=`https://crates.io/keywords/${keyword}`, target="_blank") #{keyword}
                if !data.crate.keywords.length
                  span.empty-tags none
          .rhs
            .header-total-downloads
              .header-icon-container
                i.fas.fa-download
              b #{data.crate.downloads.toLocaleString("en")}
            .header-total-verions
              .header-icon-container
                i.fas.fa-hammer
              b #{data.versions.length.toLocaleString("en")}
            if data.versions[0] && data.versions[0].license && !/^\s+$/.test(data.versions[0].license)
              .header-license
                .header-icon-container
                  i.fas.fa-balance-scale
                b #{data.versions[0].license}
        section.bar-chart
          .bar-chart-header
            .view-swtiches
              #switch-crate-size.sel Crate Size
              #switch-dowloads Downloads
              #switch-lifetime Lifetime
              #switch-features Features
            .view-options
              div
          .collapsable-container
            .collapsable-content
              .bar-chart-container
              //- each version in data.versions
              //-  div
              //-    .version-track
              //-  a(rel="noreferrer", href=`https://crates.io/crates/${data.crate.id}/${version.num}`, target="_blank") #{version.num}
              //-  div
              //-    .bar-content
              //-      span
            .collapsable-label
        section.crate-dep-tree
          h3 Dependency Graph & Composition
          .flex-items-container(hidden)
            .toggle-content(hidden)
              .toggle-container#dev
                .toggle-line
                .toggle-button
              .toggle-text-container
                .toggle-label dev
          .dep-tree-display-container
            .loader-container
              .dot-table-layout
                div(style="animation-delay: 0")
                div(style="animation-delay: 100ms")
                div(style="animation-delay: 200ms")
        section.crate-features
          h3 Features
          .features-input-container
            .features-input-grid
              .features-selection-container
                select.features-selection
                  each version in data.versions
                    if data.crate.max_stable_version === version.num
                      option(value=version.num, selected) #{version.num}
                    else
                      option(value=version.num) #{version.num}
              .features-display-pane
                | #{data.crate.id}#{" = "}
                span.string "#{data.crate.max_stable_version || data.crate.max_version}"
              .copy-icon-container
                i.interactable-icon.copy-icon.fas.fa-copy
              .features-selection-dropdown(hidden)
          .features-toggles
            //- .toggle-content
            //-   .toggle-container
            //-     .toggle-line
            //-     .toggle-button.checked
            //-   .toggle-text-container
            //-     .toggle-label default
            //-     .feature-sub
            //-       ul 
            //-         li test
        section.downloads-trend
          h3 Downloads Trend
          .downloads-trend-toggles.flex-items-container(hidden)
            //- .toggle-content ...
          .downloads-trend-display-container
            .loader-container
              .dot-table-layout
                div(style="animation-delay: 0")
                div(style="animation-delay: 100ms")
                div(style="animation-delay: 200ms")
    include includes/footer.pug
