doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="application-name", content="Cratesinquire")
    meta(name="description", content=data.crate.description)
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.9.0/css/all.css", crossorigin="anonymous")
    link(rel="stylesheet", href="/bundle.css")
    link(rel="shortcut icon", href="/favicon.png")
    script(type="module", src="/bundle.js")
    title #{data.crate.name} | Cratesinquire
  body
    header
    main#crate
      input#data(value=JSON.stringify(data), disabled, hidden)
      div.main-container
        section.search-container
          div.search-ribbon
            div.lhs
              a.pass-href(href="/")
                div.img-container
                  img(src="/favicon.png", alt="logo")
              a.pass-href(href="/")
                div.title
                  div.crate CRATES
                  div.inquire INQUIRE
            div.mid
              div.search-bar-container
                div.search-bar-grid
                  input.search-input(type="search", placeholder="Find a package...", spellcheck="false")
                  div.search-icon-container
                    i.search-icon.interactable-icon.fas.fa-search
                  div.search-dropdown(hidden)
            div.rhs
              a.banner.pass-href(href="https://github.com/apskhem/cratesinquire", target="_blank")
                i.fab.fa-github
                span GITHUB REPO
        section.crate-header
          div.lhs
            div.header-title
              h1 #{data.crate.name}
            div.header-version
              span #{data.crate.max_stable_version}
              if data.versions[0] && data.versions[0].published_by
                span #{" • Published by "}
                a(href=data.versions[0].published_by.url, target="_blank") #{data.versions[0].published_by.name}
            div.header-links
              a(href=`https://crates.io/crates/${data.crate.id}`, target="_blank")
                img(src="/img/crates-icon.png", alt="link-icon")
              if data.crate.documentation
                a(href=data.crate.documentation, target="_blank")
                  img(src="/img/docs-icon.svg", alt="link-icon")
              if data.crate.repository
                a(href=data.crate.repository, target="_blank")
                  img(src="/img/github-icon.svg", alt="link-icon")
              if data.crate.homepage
                a(href=data.crate.homepage, target="_blank")
                  img(src="/img/homepage-icon.svg", alt="link-icon")
            div.header-date Updated on #{new Date(data.crate.updated_at).toLocaleString("en", { year: "numeric", month: "long", day: "numeric" })}
            div.header-date Created on #{new Date(data.crate.created_at).toLocaleString("en", { year: "numeric", month: "long", day: "numeric" })}
            div.header-desc
              div.header-icon-container
                i.fas.fa-info-circle
              div #{data.crate.description || "none"}
            div.header-keywords
              div.header-icon-container
                i.fas.fa-tags
              div.header-keywords-row
                each keyword in data.crate.keywords
                  a(href=`https://crates.io/keywords/${keyword}`, target="_blank") #{keyword}
                if !data.crate.keywords.length
                  span.empty-tags none
          div.rhs
            div.header-total-downloads
              div.header-icon-container
                i.fas.fa-download
              b #{data.crate.downloads.toLocaleString("en")}
            div.header-total-verions
              div.header-icon-container
                i.fas.fa-hammer
              b #{data.versions.length.toLocaleString("en")}
            if data.versions[0] && data.versions[0].license && !/^\s+$/.test(data.versions[0].license)
              div.header-license
                div.header-icon-container
                  i.fas.fa-balance-scale
                b #{data.versions[0].license}
        section.bar-chart
          div.bar-chart-header
            div.view-swtiches
              div#switch-crate-size.sel Crate Size
              div#switch-dowloads Downloads
              div#switch-lifetime Lifetime
              div#switch-features Features
            div.view-options
              div
          div.bar-chart-container
            //- each version in data.versions
            //-  div
            //-    div.version-track
            //-  a(href=`https://crates.io/crates/${data.crate.id}/${version.num}`, target="_blank") #{version.num}
            //-  div
            //-    div.bar-content
            //-      span
        section.crate-dep-tree
          h3 Dependency Tree
          div.dep-tree-toggles.toggle-flex-container(hidden)
            div.toggle-content.disabled
              div.toggle-container.checked
                div.toggle-line
                div.toggle-button
              div.toggle-text-container
                div.toggle-label base
            div.toggle-content
              div.toggle-container
                div.toggle-line
                div.toggle-button
              div.toggle-text-container
                div.toggle-label dev
            div.toggle-content
              div.toggle-container
                div.toggle-line
                div.toggle-button
              div.toggle-text-container
                div.toggle-label optional
          div.dep-tree-display-container
            div.loader-container
              div.dot-table-layout
                div(style="animation-delay: 0")
                div(style="animation-delay: 100ms")
                div(style="animation-delay: 200ms")
        section.crate-features
          h3 Features
          div.features-input-container
            div.features-input-grid
              div.features-selection-container
                select.features-selection
                  each version in data.versions
                    if data.crate.max_stable_version === version.num
                      option(value=version.num, selected) #{version.num}
                    else
                      option(value=version.num) #{version.num}
              div.features-display-pane
                | #{data.crate.id}#{" = "}
                span.string "#{data.crate.max_stable_version}"
              div.copy-icon-container
                i.interactable-icon.copy-icon.fas.fa-copy
              div.features-selection-dropdown(hidden)
          div.features-toggles
            //- div.toggle-content
            //-   div.toggle-container
            //-     div.toggle-line
            //-     div.toggle-button.checked
            //-   div.toggle-text-container
            //-     div.toggle-label default
            //-     div.feature-sub
            //-       ul 
            //-         li test
        section.downloads-trend
          h3 Downloads Trend
          div.downloads-trend-toggles.toggle-flex-container(hidden)
            //- .toggle-content ...
          div.downloads-trend-display-container
            div.loader-container
              div.dot-table-layout
                div(style="animation-delay: 0")
                div(style="animation-delay: 100ms")
                div(style="animation-delay: 200ms")
    footer.abs
      div.lhs
        span Hosted on
        img(src="/img/heroku-logo.png", alt="hosted-on")
      div.rhs
        div
          span Made with
          i.fas.fa-heart
          span by
          a(href="https://github.com/apskhem" target="_blank") @apskhem
