doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content=data.crate.description)
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.9.0/css/all.css", crossorigin="anonymous")
    link(rel="stylesheet", href="/bundle.css")
    link(rel="shortcut icon", href="/favicon.png")
    script(type="module", src="/bundle.js")
    title #{data.crate.name} | Cratesinquire
  body
    header
    main#crate
      input#data(value=raw, disabled, hidden)
      div.main-container
        section.crate-header
          h1 #{data.crate.name}
          div #{data.crate.max_stable_version}
          div updated on #{data.crate.updated_at}
          div created on #{data.crate.created_at}
          div #{data.crate.description}
        section.crate-bundle-size
          div.bundle-size-graph-container
        section.crate-dep-tree
    footer.abs
      div
        div Hosted on
        img(src="/img/heroku-logo.png", alt="hosted on")
      div
        div Made with
        i.fas.fa-heart
        div by
        a(href="https://github.com/apskhem" target="_blank") @apskhem.
        div &copy; 2021. All rights reserved.
